 <header class="main-header">
    <h1>DH-Héroes</h1>
   <a href="#" class="toggle-nav">
       <span class="fa fa-bars"></span>
   </a>

 <nav class="main-nav">
     <ul>
         <li><a href="/babbage"> Babbage</a></li>
         <li><a href="/berners-lee"> Berners-lee</a></li>
         <li><a href="/clarke"> Clarke</a></li>
         <li><a href="/hamilton"> Hamilton</a></li>
         <li><a href="/hopper"> Hopper</a></li>
         <li><a href="/lovelace"> Lovelace</a></li>
         <li><a href="/turing"> Turing</a></li>
     </ul>
 </nav>
</header>