<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <h1>Murray Hopper, Grace</h1>
    <div class="center">
    <img src="img/Hopper.jpg" width="290" height="290" alt="">
    </div>
    <h2>Ingeniera de computación estadounidense. Inventa en 1952 el primer compilador para ordenador. Inventa el lenguaje COBOL. Fue una científica especializada en Matemáticas y también una militar norteamericana, con grado de almirante, considerada una pionera en el mundo de la informática.</h2>
</body>
</html>