<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <h1>Ada Lovelace</h1>
    <div class="center">
    <img src="img/Lovelace.jpg" width="290" height="290" alt="">
    </div>
    <h2>Ada Lovelace la llevaron a formar parte de la historia de la computación, gracias en parte al desarrollo de una serie de instrucciones que permitían realizar cálculos en una versión rudimentaria de lo que hoy conocemos como ordenador</h2>
</body>
</html>