<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <h1>Alan Turing</h1>
    <div class="center">
    <img src="img/Turing.jpg" width="290" height="290" alt="">
    </div>
    <h2>Alan Turing fue un brillante matemático, criptoanalista e informático teórico nacido el veintitrés de Junio de 1912 en Maida Vale un distrito residencial al oeste de Londres. ... Formalizó los conceptos de algoritmo y computación con su máquina de Turing. Es considerado el padre de la inteligencia artificial.</h2>
</body>
</html>