<!DOCTYPE html>
<html lang="esp">
	<!--head-->
	<%- include('./partials/head.ejs') %> 

<body>
            <!--Header-->
            <%- include('./partials/header.ejs') %> 
    <h1>Babbage</h1>
    <div class="center">
        <img src="img/Babbage.jpg" >
    </div>
    <h2>Charles Babbage [Walworth (Londres, Reino Unido), 1791 – Marylebone (Londres, Reino Unido), 1871]. </h2>
    <h2> Matemático e ingeniero mecánico británico que diseñó y construyó parcialmente la primera máquina calculadora mecánica diferencial y una máquina analítica. Conocido por muchos como el padre de la computación digital.</h2>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>