<!DOCTYPE html>
<html lang="esp">
	<!--head-->
	<%- include('./partials/head.ejs') %> 

<body>
            <!--Header-->
            <%- include('./partials/header.ejs') %> 
    <h1>Timothy "Tim" John Berners-Lee</h1>
    <div class="center">
        <img src="img/berners-lee.jpg" width="290" height="290" alt="">
    </div>
    <h2>Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990.</h2>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>