<!DOCTYPE html>
<html lang="esp">
	<!--head-->
	<%- include('./partials/head.ejs') %> 

<body>
            <!--Header-->
            <%- include('./partials/header.ejs') %> 
    <h1>Joan Clarke</h1>
    <div class="center">
    <img src="img/Clarke.jpg" width="290" height="290" alt="">
    </div>
    <h2>Joan Clarke fue la única mujer que trabajó en el equipo liderado por Turing para descifrar el código Enigma. Joan Clarke, matemática y criptoanalista, tuvo un rol central en la hazaña que implicó descifrar el Código Enigma utilizado por los alemanes, durante la Segunda Guerra Mundial.</h2>
     <!--footer-->
     <%- include('./partials/footer.ejs') %> 
</body>
</html>