<!DOCTYPE html>
<html lang="esp">
	<!--head-->
	<%- include('./partials/head.ejs') %> 

<body>
            <!--Header-->
            <%- include('./partials/header.ejs') %> 
    <h1>Murray Hopper, Grace</h1>
    <div class="center">
    <img src="img/Hopper.jpg" width="290" height="290" alt="">
    </div>
    <h2>Ingeniera de computación estadounidense. Inventa en 1952 el primer compilador para ordenador. Inventa el lenguaje COBOL. Fue una científica especializada en Matemáticas y también una militar norteamericana, con grado de almirante, considerada una pionera en el mundo de la informática.</h2>
     <!--footer-->
     <%- include('./partials/footer.ejs') %> 
</body>
</html>