<!DOCTYPE html>
<html lang="esp">
	<!--head-->
	<%- include('./partials/head.ejs') %> 

<body>
            <!--Header-->
            <%- include('./partials/header.ejs') %> 
    <h1>Ada Lovelace</h1>
    <div class="center">
    <img src="img/Lovelace.jpg" width="290" height="290" alt="">
    </div>
    <h2>Ada Lovelace la llevaron a formar parte de la historia de la computación, gracias en parte al desarrollo de una serie de instrucciones que permitían realizar cálculos en una versión rudimentaria de lo que hoy conocemos como ordenador</h2>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>