<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include('./partials/head.ejs') %> 

<body>
    		<!-- cabecera -->
		<%- include('./partials/header.ejs') %> 

   
         <!--footer-->
 <%- include('./partials/footer.ejs') %> 
</body>
</html>