<!DOCTYPE html>
<html lang="esp">
	<!--head-->
	<%- include('./partials/head.ejs') %> 

<body>
            <!--Header-->
            <%- include('./partials/header.ejs') %> 
    <h1>Alan Turing</h1>
    <div class="center">
    <img src="img/Turing.jpg" width="290" height="290" alt="">
    </div>
    <h2>Alan Turing fue un brillante matemático, criptoanalista e informático teórico nacido el veintitrés de Junio de 1912 en Maida Vale un distrito residencial al oeste de Londres. ... Formalizó los conceptos de algoritmo y computación con su máquina de Turing. Es considerado el padre de la inteligencia artificial.</h2>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>